<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">        
    		<p>
            I have over 6 years of experience as a software QA Engineer and have worked
            for industries in information technology and services. I'm also a proficient 
            quality assurance engineer with knowledge in testing web-applications and 
            backend services (API services, E2E Testing, Mobile Testing, and Automation).
        </p>        
        <p>
          I am motivated by each company's quality standards and measures because they drive
          the testing practices to successful deliveries. While hard engineering problems are 
          often intrinsically fun to tackle, I'm most attracted to fixing real customer problems
          with a business solution. I'm looking for a senior contributor role where I can take a 
          collaborative role in the team and gain leadership responsibilities and experience 
          with project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Design and execute multiple automated scripts to report, test, and validation.            
    			</li>
          <li>
            Automated test integration web page using JavaScript, Ajax, and JDBC connector to enabling a Java application to interact 
            with a database, projected to save $16k/quarter.
          <li>
            Experience creating custom tools/scripts and reporting for ALM, such as macros using VBA Script.
    			<li>
            Migrated multiple domains/projects from the current instance to newer versions where
            services were hosted by HP Quality Center, resolving issues throughout the migration.
    			</li>
    			<li>
            HP Quality Center Administration v10x,11x,12x (Security Patching, Upgrades, Integrations, Automation, LDAP). 
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
